@font-face {
	font-family: IBMPlexVariable;
	src: url(fonts/ui/IBMPlexSansVar-Roman.woff2) format("woff2");
	font-weight: 1 1000;
	font-stretch: 85 100;
}

@font-face {
	font-family: IBMPlexVariable;
	src: url(fonts/ui/IBMPlexSansVar-Italic.woff2) format("woff2");
	font-style: italic;
	font-weight: 1 1000;
	font-stretch: 85 100;
}

@font-face {
	font-family: IBMPlexMono;
	src: url(fonts/ui/IBMPlexMono-Bold.woff2) format("woff2");
	font-weight: 700;
}

@font-face {
	font-family: IBMPlexMono;
	src: url(fonts/ui/IBMPlexMono-BoldItalic.woff2) format("woff2");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: FontAwesome;
	src: url(fonts/ui/fa-regular-400.woff2) format("woff2");
	font-weight: normal;
}

@font-face {
	font-family: FontAwesome;
	src: url(fonts/ui/fa-solid-900.woff2) format("woff2");
	font-weight: bold;
}

html {
	font-family: IBMPlexVariable, -apple-system, ".SFNSText", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	font-size: 16px;
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 4rem;
	font-style: normal;
	font-weight: 400;
}

#container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 360px 1fr;
	grid-template-rows: 80px 1fr;
	background-color: beige; /* on font load becomes transparent */
}

#title {
	background-color: orange;
	padding: 0px 20px;
	position: relative;
}

#title h1 {
	font-weight: 700;
	padding: 0;
	margin: 0;
}

.subtitle {
	position: absolute;
	width: 120px;
	right: 26px;
	top: 8px;
	font-size: 1rem;
	line-height: 1.2;
	display: inline-block;
	text-transform: uppercase;
	text-align: right;
}

#font-file {
	background-color: beige;
	font-size: 4rem;
	padding: 0px 20px;
	white-space: nowrap;
}

.font-file {
	text-decoration: underline;
}

#controls {
	background-color: beige;
	overflow-y: scroll;
}

#controls h2 {
	position: relative;
	font-size: 1em;
	font-weight: 500;
	background-color: darkgrey;
	color: white;
	padding-left: 1em;
	margin: 0;
	border-bottom: 1px solid black;
	padding-left: 2em;
}

.panel>div {
	width: 100%;
	background-color: lightgrey;
}

.panel.closed>div {
	display: none;
}

.panel>div>.slider {
	position: relative;
	width: calc(100% - 20px);
	left: 8px;
}

.panel label {
	font-size: 75%;
	margin-top: 4px;
}

#panel-glyphs.panel label {
	margin-top: 0px;
}

.panel input[type=checkbox] {
	margin-top: 4px;
}

#panel-webfont.panel>div {
	font-size: 48px;
	font-family: Webfont;
	background-color: white;
}

.instance {
	background-color: white;
	padding: 4px;
	margin: 4px;
}

.tiles .instance {
	width: 30px;
	float: left;
	position: relative;
}

.tvt {
	background-color: white;
	_border: 1px solid black;
	_padding: 4px;
	margin-bottom: 4px;
}

.glyph-thumb {
	width: 90px;
	height: 90px;
	border: 0.5px solid lightgrey;
	float: left;
	box-sizing: border-box;
	position: relative;
}

.glyph-thumb>label {
	position: absolute;
	left: 0;
	top: 0;
	_border: 1px solid lightgrey;
	color: white;
	background-color: darkgrey;
	font-size: 75%;
	padding: 0 2px;
}

#drawing {
	position: relative;
}

.inactive {
	color: grey;
	font-style: italic;
}

.active {
	background-color: #d0f473;
}

tt {
	font-family: IBMPlexMono;
	font-weight: bold;
	_background-color: black;
	_color: white;
}

.icon {
	font-family: FontAwesome;
	font-weight: normal;
	font-size: 75%;
	cursor: default;
}

.bold {
	font-weight: bold;
}

.texticon {
	font-size: 75%;
	border: 1px solid  white;
	border-radius: 1em;
	padding: 1px 2px;
}

.texticon.active {
	color: grey;
	background-color: white;
}

.icon:link, .icon:hover, .icon:visited, .icon:active {
	color: black;
	text-decoration: none;
}

.glyph-thumb>.selected {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 5;
	opacity: 0.5;
}

.font-file {

}

.reveal {
	transform: rotate(0turn);
	position: absolute;
	left: 1em;
	top: 0.25em;
	transition: transform 0.2s ease-out;
}

.open .reveal {
	transform: rotate(0.25turn);
}

.cartesian-axis-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-top: 1px solid lightgrey;
}

.axis-nudge {
	width: 100%;
	text-align: center;
	margin-top: 1px;
	background-color: grey;
	color: white;
	font-weight: bold;
	border-radius: 3px;
}

.no-select {
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

#drag-drop-zone	{
	display: flex;
	position: relative;
	color: grey;
	grid-area: 1 / 2 / 3 / 3;
	background-color: beige;
	align-items: center;
	justify-content: center;
	border: 4px dashed grey;
	margin: 10px;
}

#drag-drop-zone>div {
	text-align: center;
}

#drag-drop-zone>div>p {
	cursor: default;
}

#controls {
	position: relative;
}

.panel>div {
	position: relative;
}

.popup-modal {
	width: 400px;
	height: 80%;
	position: fixed; 
	left: calc(50% - 200px);
	top: calc(50% - 40%);
	background-color: beige;
	padding: 1em;
	border-radius: 1em;
	overflow-y: scroll;
}

.popup-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: black;
	opacity: 0.6;
}